.react-datepicker-year-header{
    background-color: white;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-datepicker__header{
    background-color: white;
    border-bottom: none;
}

.react-datepicker__triangle{
    display: none;
}
.react-datepicker{
    border: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.react-datepicker__month-text{
    width: 78px;
    height: 40px;
    border-radius: 4px;
    padding-top: 10px;
    border: 1px solid #D1D6DB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #4E5968;
}

.react-datepicker__month--selected{
    background-color:#18A0D7 ;
    border: none;
    color: white;
}

.react-datepicker__input-container-button {
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}
.react-datepicker__navigation{
    top:10px;
}

.date-range-selector {
    height: 40px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    min-width: 230px;
}


.react-datepicker__day--in-range,
.react-datepicker__day--in-range:hover {
    background-color: #E8F3FF;
    color: #000;
}
.react-datepicker__day,
.react-datepicker__day:hover {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.react-datepicker__day--range-end,
.react-datepicker__day--range-start,
.react-datepicker__day--range-start:hover,
.react-datepicker__day--selecting-range-start {
    background-color: #3179F6 !important;
    color: #fff  !important;
    border-radius: 18px 0px 0px 18px;
}
.react-datepicker__day--range-end,
.react-datepicker__day--range-end:hover{
    border-radius: 0px 18px 18px 0px;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selecting-range-start){
    background-color: #E8F3FF !important;
    color: #000;
}