.App {
  background-color: #F5F6FA;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.z-auto-full {
  z-index: 999999;
}
.list-shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.min-width-190{
  min-width: 190px;
}